:root {
  font-size: 10px;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  min-height: 100vh;
}

arcgis-scene,
.arcgis-scene,
.esri-view-root,
.esri-view-surface {
  height: 100%;
  min-height: inherit;
}

.esri-ui {
  position: absolute;
  font-size: 1rem;
  inset: auto auto 0px auto !important;
}
